body.configurator_is_inline .mkl_pc {
    position: relative;
	height: auto;
	min-height: 500px;
	z-index: 1;

	.overlay {
		display: none;
	}

	.mkl_pc_container {
		box-shadow: none;
		overflow: unset;
		position: relative;
		align-items: flex-start;
		header .cancel {
			display: none;
		}
		.mkl_pc_toolbar {
			> header {
				display: none;
			}
			@media (max-width: $small_screen_width) {
				.mkl-pc-show-form {
					&::before {
						height: 100vh;
					}
				}
			}

		}
		.mkl_pc_viewer {
			min-height: 60vh;
		}
	}
}

body.configurator_is_inline .mkl-pc-preset-container .mkl_pc {
	.mkl_pc_container {
		margin-right: 280px;
		footer {
			margin-right: 280px;
		}
	}
	.mkl_pc_admin {
		position: fixed;
		top: 32px;
	}
}
