.mkl_pc.dark  {
	.mkl_pc_viewer {

		.angles-select li a {
			color: #FFF;

		}
		.angles-select li.active a {
			border-bottom: 2px solid #FFF;
		}
	}

	.mkl_pc_toolbar section.choices {
		border-top: 1px solid #000;
	}	
}

