/* Variable products */
button.variations_button.disabled,
.variations_button.disabled button.single_add_to_cart_button {
	display: none;
}

.is_configurable div.product form.cart .variations_button:not(.disabled),
.is_configurable:not(.enable-add-to-cart):not(.configurator_is_inline) div.product form.cart .variations_button:not(.disabled) {
	.quantity, .single_add_to_cart_button {
		display: block !important;
	}
}
.is_configurable.current-variation-is-configurable:not(.enable-add-to-cart):not(.configurator_is_inline) div.product form.cart .variations_button.disabled {
	.quantity {
		display: none !important;
	}
}



.mkl-pc-choice-qty--container {
    display: none;
    width: auto;
    max-width: 120px;
    border: 1px solid #CCC;
    background: #FFF;
    justify-content: space-between;
    margin: 13px;
    border-radius: 4px;

	& > * {
		flex-grow: 1;
	}
	
	&:focus-within {
		border-color: var(--mkl_pc_color-primary, #777);
	}

	input.mkl-pc-choice-qty, 
	input.mkl-pc-choice-qty:focus {
		border: none;
		color: #000;
		background: transparent;
		box-shadow: none;
		padding: 0;
		margin: 0;
		width: auto;
		max-width: 2ch;
		text-align: center;
		-moz-appearance: textfield;
	}

	input.mkl-pc-choice-qty::-webkit-outer-spin-button,
	input.mkl-pc-choice-qty::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li.active > .mkl-pc-choice-qty--container,
.mkl_pc .mkl_pc_container .mkl_pc_toolbar ul.layer_choices li.active > .text-field .mkl-pc-choice-qty--container,
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li.active > .mkl_quantity .mkl-pc-choice-qty--container {
    display: flex;
}

.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul > li .mkl-pc-choice-qty--btn {
    padding: 4px;
    margin: 0;
    display: block;
    border: none;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: #000;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}

.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul > li .mkl-pc-choice-qty--btn{
	svg {
		vertical-align: middle;
		width: 15px;
		use {
			fill: #000;
		}
	}
	
	&:hover svg use,
	&:focus svg use {
		fill: var(--mkl_pc_color-primary);
	}
} 

.footer__section-center {
	display: inline-flex;
	align-items: center;
}

.mkl-footer--action-button {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 6px 12px;
	line-height: 1.2;
	text-transform: none;
	font-size: 12px;
	font-weight: 400;
	background: transparent;
	appearance: none;
	box-shadow: none;
	border:  none;
	color: inherit;
	text-decoration: none;
	// &:hover, &:focus {
	// 	opacity: .8;
	// }
	svg {
		fill: currentColor;
		height: 24px;
		width: 24px;
		margin-right: 8px;
		vertical-align: middle;
		@media (max-width: 720px) {
			margin-right: 3;
		}
	}
	
	span {
		vertical-align: middle;
		@media (max-width: 720px) {
			display: none;
		}
	}

	@media (max-width: 720px) {
		display: block;
		height: 100%;
		width: 60px;
	}
}

.mkl_pc .mkl_pc_container .mkl_pc_toolbar {
    .error-message{ 
        display: none;
        color: red;
        font-size: .9em;
        line-height: 1.2;
        padding-top: 3px;
    }
    .has_error {
        input[type="text"], 
        input[type="number"], 
        input[type="date"],
        input[type="checkbox"],
        textarea,
        select {
            outline: 4px solid rgba(255, 0, 0,.27);
            outline-offset: 0px;
        }
        .error-message{ 
            display: block;
        }
    }
}

@import "scss/configure-button-loading"; // button loading
@import "scss/configuror-loader"; // modal loading - variable products mostly
@import "scss/add-to-cart-modal";

