@charset "UTF-8";
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* Woocommerce  */
.customizer_is_opened {
  overflow: hidden;
}

.is_customizable div.product form.cart {
  border: none;
}
.is_customizable div.product form.cart .quantity, .is_customizable div.product form.cart .single_add_to_cart_button {
  display: none;
}
@media (max-width: 660px) {
  .is_customizable button.customize-product {
    font-size: 1.4em;
    display: block;
    width: 100%;
  }
}

/* CUSTOMIZER */
.mkl_pc {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}
.mkl_pc .loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.mkl_pc .loader .header {
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 2px 14px rgba(0, 0, 0, 0.62);
}
.mkl_pc .loader .spinner {
  width: 40px;
  height: 40px;
  margin: 30px auto;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
.mkl_pc.loading .loader {
  display: block;
}
.mkl_pc.loading .mkl_pc_container {
  transform: translateY(-30px);
  opacity: 0;
}
.mkl_pc .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.mkl_pc .mkl_pc_container {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.5s;
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.mkl_pc .mkl_pc_container .mkl_pc_bg {
  position: absolute;
  left: 350px;
  top: 0;
  right: 0;
  bottom: 5em;
  background-position: 50%;
  background-size: cover;
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container .mkl_pc_bg {
    left: 200px;
    bottom: 4em;
  }
}
@media (max-width: 660px) {
  .mkl_pc .mkl_pc_container .mkl_pc_bg {
    left: 110px;
  }
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer {
  position: absolute;
  z-index: 1;
  left: 350px;
  top: 0;
  right: 0;
  bottom: 5em;
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container .mkl_pc_viewer {
    left: 200px;
    bottom: 4em;
  }
}
@media (max-width: 660px) {
  .mkl_pc .mkl_pc_container .mkl_pc_viewer {
    left: 110px;
  }
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select {
  position: absolute;
  right: 2em;
  bottom: 2em;
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.94);
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select > a {
  display: block;
  padding: 4px 10px;
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select > a::before {
  content: "";
  font-family: "FontAwesome";
  display: inline-block;
  margin-right: 1em;
  transition: transform 0.3s;
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select > a:hover::before, .mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select > a:active::before, .mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select > a:focus::before {
  transform: rotate(380deg);
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select:hover ul, .mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select > a:focus + ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select li {
  background: rgba(255, 255, 255, 0.94);
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select li a {
  display: block;
  padding: 3px 11px;
  border-bottom: 1px solid #EEE;
  text-align: center;
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select li a::before {
  content: "";
  font-family: "FontAwesome";
  transition: all 0.2s;
  display: inline-block;
  padding-right: 0;
  opacity: 0;
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select li.active a::before {
  padding-right: 1em;
  opacity: 1;
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .angles-select li:last-child a {
  border-bottom: none;
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .mkl_pc_layers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.mkl_pc .mkl_pc_container .mkl_pc_viewer .mkl_pc_layers img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 100%;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar {
  position: absolute;
  z-index: 2;
  width: 350px;
  background: #fff;
  left: 0;
  top: 0;
  bottom: 5em;
  display: flex;
  flex-direction: column;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar > header {
  border-bottom: 1px solid #efefef;
  padding: 1em;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar > header h3 {
  margin: 0;
  padding: 0;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar > header > .cancel {
  position: fixed;
  background: transparent;
  border: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 30px;
  right: 30px;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar > header > .cancel span {
  display: none;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar > header > .cancel::before, .mkl_pc .mkl_pc_container .mkl_pc_toolbar > header > .cancel::after {
  content: " ";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: 50%;
  transform: rotate(45deg);
  transition: all 0.2s;
  border-radius: 1px;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar > header > .cancel::after {
  transform: rotate(-45deg);
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar > header {
    left: 200px;
    width: calc( 100% - $toolbar_width_medium );
  }
}
@media (max-width: 660px) {
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar > header {
    position: fixed;
    top: 0;
    width: 100%;
    width: calc( 100% - $toolbar_width_small );
  }
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar > header h3 {
    display: none;
  }
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar > header .cancel {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices {
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 2;
  position: relative;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 30px 14px;
  border-bottom: 1px solid #efefef;
  background-color: transparent;
  position: relative;
  line-height: 1.3;
  color: #949494;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li button:hover, .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li button:focus {
  color: #000000;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li.active button {
  background: #f7f7f7;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li ul.active li {
  -webkit-animation: slide-in-left 1s ease-out;
  animation: slide-in-left 1s ease-out;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices > ul li ul li.active button {
  background: #eaeaea;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layers button {
  padding-left: 60px;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layers i {
  position: absolute;
  display: block;
  width: 40px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  text-align: center;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layers i.close {
  display: none;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layers button:hover i {
  opacity: 1;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layers li.active button i {
  opacity: 1;
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layers button {
    padding: 15px;
    text-align: center;
  }
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layers button i {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin: 0 auto;
  }
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  transition: all 0.3s cubic-bezier(0.02, 0.5, 0.14, 1.01);
  background: #f7f7f7;
  transform: translateX(100%);
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices {
    left: 0;
  }
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button {
  padding-right: 85px;
  background: transparent;
  transition: 0.2s all;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button span.choice-price {
  display: inline-block;
  padding: 0 6px;
  border-radius: 6px;
  color: #777;
  margin-left: 5px;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button i.mkl-pc-thumbnail {
  height: 58px;
  width: 58px;
  border: 3px solid transparent;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: transparent;
  box-shadow: none;
  transition: all 0.2s;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button i.mkl-pc-thumbnail span {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button i.mkl-pc-thumbnail img {
  position: absolute;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button:hover i.mkl-pc-thumbnail {
  opacity: 1;
  height: 80px;
  width: 80px;
  right: 5px;
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button {
    text-align: center;
    padding: 15px;
  }
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button i.mkl-pc-thumbnail {
    position: relative;
    display: inline-block;
    right: auto;
    top: auto;
    transform: none;
  }
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li > button span.text {
    display: block;
    text-align: center;
  }
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices.active {
  transform: translateX(0);
  visibility: visible;
  box-shadow: -12px 0 40px -10px rgba(0, 0, 0, 0.15);
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices.active li.active i.mkl-pc-thumbnail {
  border-color: white;
  opacity: 1;
  height: 78px;
  width: 78px;
  right: 5px;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title {
  box-shadow: 0 0 5px rgba(6, 6, 6, 0.25);
  position: relative;
  z-index: 2;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span {
  font-weight: bold;
  display: block;
  padding: 10px 8px;
  border-bottom: 1px solid #efefef;
  position: relative;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border-bottom: none;
  transform: translate(-15px, -50%);
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close span {
  border-bottom: none;
  box-shadow: none;
  display: none;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:focus {
  outline: none;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close::before, .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close::after {
  content: " ";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: 50%;
  transform: rotate(45deg);
  transition: all 0.2s;
  border-radius: 1px;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close::after {
  transform: rotate(-45deg);
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:focus::before, .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:hover::before, .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:focus::after, .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:hover::after {
  background: #949494;
  width: 15px;
  transform-origin: 100%;
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:focus::before, .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:hover::before {
  transform: translateX(8px) rotate(-35deg);
}
.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:focus::after, .mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.layer-choices-title > span a.close:hover::after {
  transform: translateX(8px) rotate(35deg);
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar {
    width: 200px;
    bottom: 4em;
  }
}
@media (max-width: 660px) {
  .mkl_pc .mkl_pc_container .mkl_pc_toolbar {
    width: 110px;
  }
}
.mkl_pc .mkl_pc_container footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  z-index: 2;
  padding: 1em;
  background: #efefef;
  border-top: 1px solid rgba(255, 255, 255, 0.45);
  z-index: 2;
}
.mkl_pc .mkl_pc_container footer .single_add_to_cart_button {
  visibility: visible;
}
.mkl_pc .mkl_pc_container footer .form,
.mkl_pc .mkl_pc_container footer form,
.mkl_pc .mkl_pc_container footer .quantity {
  display: inline-block;
}
.mkl_pc .mkl_pc_container footer .form input.qty,
.mkl_pc .mkl_pc_container footer form input.qty,
.mkl_pc .mkl_pc_container footer .quantity input.qty {
  background: #fff;
}
.mkl_pc .mkl_pc_container footer .extra-cost {
  visibility: hidden;
  position: fixed;
}
.mkl_pc .mkl_pc_container footer .extra-cost.show {
  visibility: visible;
  position: relative;
  padding-right: 10px;
  display: inline-block !important;
}
@media (max-width: 760px) {
  .mkl_pc .mkl_pc_container footer {
    text-align: center;
    height: 4em;
  }
}
.mkl_pc.floating .mkl_pc_toolbar {
  top: 30px;
  left: 30px;
  bottom: 30px;
}
.mkl_pc.floating .mkl_pc_viewer {
  left: 0;
}
.mkl_pc.floating .mkl_pc_viewer .mkl_pc_layers {
  left: 350px;
}
@media (max-width: 760px) {
  .mkl_pc.floating .mkl_pc_viewer .mkl_pc_layers {
    left: 200px;
  }
}
.mkl_pc.opened {
  visibility: visible;
}
.mkl_pc.opened .overlay {
  visibility: visible;
  opacity: 1;
}
.mkl_pc.opened .mkl_pc_container {
  visibility: visible;
  opacity: 1;
  transform: none;
}
body.admin-bar:not(.customizer_is_inline) .mkl_pc {
  top: 32px;
}
body.admin-bar:not(.customizer_is_inline) .mkl_pc .mkl_pc_toolbar > header > .cancel {
  top: 62px;
}

/*# sourceMappingURL=product_customizer.css.map */
