// COLORS
$colors: (
	light-gray: #efefef,
	primary_hover: #000,
	layers_button_text_color: rgba(0, 0, 0, 0.7),
	choices_button_text_color: rgba(0, 0, 0, 0.7),
	overlay_bg: #000000,
	active_layer_button_bg_color: #eaeaea,
	active_layer_button_text_color: #000000,
	active_choice_button_bg_color: #eaeaea,
	active_choice_button_text_color: #000000
);

@function color($color-name) {
	@return var(--mkl_pc_color-#{$color-name});
}

// COLORS
$light-gray: #efefef;
$overlay_bg: #000000;
$active_bg: #f7f7f7;
$choice_list_bg: #f7f7f7;
$footer_bg_color: $active_bg;


// DIMENSIONS / DISTANCES / SPACE
$medium_screen_width: 760px;
$small_screen_width: 660px;

$distance: 0;

$toolbar_width: 350px;
$toolbar_width_medium: 200px;
$toolbar_width_small: 110px;

$footer_height: 5em;
$footer_height_small_screen: 4em;
$inner_space: 1em;

:root {
	// each item in color map
	@each $name, $color in $colors {
		--mkl_pc_color-#{$name}: #{$color};
	}
}

@-webkit-keyframes sk-scaleout {
	0% { -webkit-transform: scale(0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 100% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
		opacity: 0;
	}
}		
@-webkit-keyframes slide-in-left {
	0% { 
		-webkit-transform: translateX(50px); 
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% { 
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	} 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/* Woocommerce  */
.configurator_is_opened:not(.configurator_is_inline) {
	overflow: hidden;
}

.is_configurable {
	// div.product form.cart {
	// display: none;
	div.product form.cart {
		border: none;
		// .variations_button
		.quantity, .single_add_to_cart_button {
			display: none;
		}
	}
	@media( max-width: $small_screen_width ) {
		button.configure-product {
			font-size: 1.4em;
			display: block;
			width: 100%;
		}
	}
}

/* CUSTOMIZER */
.mkl_pc {
	position: fixed;
	top:0;
	left:0;
	bottom: 0;
	width: 100%; 
	z-index: 10000;
	.loader {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);

		.header {
			font-size: 1.5em;
			font-weight: bold;
			color: #FFF;
			text-shadow: 0 2px 14px rgba(0, 0, 0, 0.62);
		}
		.spinner {
			width: 40px;
			height: 40px;
			margin: 30px auto;
			background-color: #FFF;

			border-radius: 100%;  
			-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
			animation: sk-scaleout 1.0s infinite ease-in-out;
		}

	}

	&.loading {
		.loader {
			display: block;
		}
		.mkl_pc_container {
			transform: translateY(-30px);
			opacity: 0;
		}
	}

	.overlay {
		position: absolute;
		top:0;
		left:0; 
		height: 100%; 
		width: 100%; 

		background: transparentize($overlay_bg, 0.2); 
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;
	} 
	.mkl_pc_container {
		position: absolute;
		width: auto;
		height: auto;
		top: $distance;
		left: $distance;
		right: $distance;
		bottom: $distance;
		background: #fff;
		box-shadow: 0px 2px 15px rgba(0,0,0,0.8);

		visibility: hidden;
		opacity: 0;
		transform: translateY(-30px);
		// transition: all 0.3s;
		transition: all 0.5s;

		@media (max-width: $medium_screen_width) {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.mkl_pc_bg {
			position: absolute;
			left: $toolbar_width;
			top: 0;
			right: 0;
			bottom: $footer_height;
			background-position: 50%;
			background-size: cover;
			@media( max-width: $medium_screen_width ) {
				left: $toolbar_width_medium;
				bottom: $footer_height_small_screen;
			}
			@media( max-width: $small_screen_width ) {
				left: 0;
				top: 50%;
			}

		}		
		.mkl_pc_viewer {
			position: absolute;
			z-index: 1;
			left: $toolbar_width; 
			top: 0;
			right: 0;
			bottom: $footer_height;

			@media( max-width: $medium_screen_width ) {
				left: $toolbar_width_medium;
				bottom: $footer_height_small_screen;
			}
			@media( max-width: $small_screen_width ) {
				left: 0;
				top: 50%;
			}

			.angles-select {
				position: absolute;
				right: 2em;
				// transform: translateX(50%);
				bottom: 2em;
				z-index: 2;
				box-shadow: 0 1px 4px rgba(0,0,0,0.3);
				border-radius: 3px;
				background: transparentize(#fff, 0.06);
				> a {
					display: block;
					padding: 4px 10px;
					&::before{
						content: '\f01e';
						font-family: 'FontAwesome';
						display: inline-block;
						margin-right: 1em;
						transition: transform 0.3s;
					}
					&:hover, &:active, &:focus {
						&::before{
							transform: rotate(380deg);
						}
					}
				}
				ul{
					padding: 0;
					margin: 0;
					list-style-type: none;
					position: absolute;
					bottom: 100%;
					left: 0;
					width: 100%;
					box-shadow: 0 1px 4px rgba(0,0,0,0.3);
					transition: all 0.2s;
					visibility: hidden; 
					opacity: 0;
					transform: translateY(10px);
				}

				&:hover ul,
				&:focus-within ul,
				& > a:focus + ul {
					visibility: visible; 
					opacity: 1;
					transform: translateY(0);
				}
				li {
					background: transparentize(#fff, 0.06);
					a {
						display: block;						
						padding: 3px 11px; 
						border-bottom: 1px solid #EEE;
						text-align: center;						
						&::before{
							content: '\f06e';
							font-family: 'FontAwesome';
							transition: all 0.2s;
							display: inline-block;
							padding-right: 0;
							opacity: 0;
						}
					}
					
					&.active a {
						&::before{
							padding-right: 1em;
							opacity: 1;
						}
					}
					&:last-child a{
						border-bottom: none;
					}

				}
				@media (max-width: $small_screen_width) {
					> a span {
						display: none;
					}
					> a::before {
						margin-right: 0;
					}
					> a::before {
						margin-right: 0;
					}
					&:hover > a span,
					&:focus-within > a span,
					& > a:focus span {
						display: inline-block;
						margin-left: 1em;
					}
				}
			}
			.mkl_pc_layers {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: center;
				user-select: none;

				img {
					transition: .2s all;
					&:not(.active) {
						opacity: 0;
					}
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					max-height: 100%;
				}
			}
		} 

		// TOOLBAR
		.mkl_pc_toolbar {
			position: absolute;
			z-index: 2;
			width: $toolbar_width;
			background: #fff;
			left: 0;
			top: 0;
			bottom: $footer_height;
			//box-shadow: 3px 0px 15px rgba(0,0,0,0.2);
			
			display: flex;
			flex-direction: column;

			> header {
				border-bottom: 1px solid $light-gray; 
				h3 {
					margin: 0;
					padding: 0;
					display: none;
				}
				// padding: $inner_space;
				> .cancel {
					position: fixed; 
					background: transparent;
					border: none;
					box-shadow: none;
					width: 20px; height: 20px;
					padding: 0;
					top: 30px;
					right: 30px;

					span {
						display: none;
					}
					&::before,
					&::after {
						content:' ';
						width:20px;
						height:2px;
						background: #000;
						position: absolute;
						top: 50%; 
						left: 0;
						transform-origin: 50%;
						transform: rotate(45deg);
						transition: all 0.2s;
						border-radius: 1px;
						display: block;
					}
					&::after {
						transform:rotate(-45deg);
					}
				}
				@media( max-width: $medium_screen_width ) {
					left: $toolbar_width_medium;
					width: calc( 100% - $toolbar_width_medium );
				}

				@media( max-width: $small_screen_width ) {
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 40px;
					background: #36383a;
					padding-top: 8px;
					color: #FFF;
					font-size: 1rem;
					box-sizing: border-box;

					h3 {
						display: block;
						color: #FFF;
						font-size: 1rem;
						margin: 0;
						padding: 0;
						text-align: center;
						margin-right: 40px;
					}
					.cancel {
						position: absolute;
						top: 10px; 
						right: 10px;
						&::after, &::before {
							background: #FFF;
						}
					}
				}

			}
			section.choices {
				position: relative;
				height: 100%;
				overflow: hidden;
				overflow-y: auto;
				// font-size: 0.8em;
				// &::before {
				// 	content: '';
				// 	position: absolute;
				// 	width: 100%;
				// 	height: 45px;
				// 	background: url(../images/choose-help.png) no-repeat 50% 100%;
				// 	top: 0;
				// }
				> ul{
					list-style-type: none;
					display: block;
					margin: 0;
					padding: 0;

					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					overflow: auto;	

					li {
						display: block; 
						margin: 0;
						padding: 0;
						line-height: 2;
						position: relative;
						// -webkit-animation: slide-in-left 1.0s ease-out;
						// animation: slide-in-left 1.0s ease-out;

						button {
							display: block;
							width: 100%;
							text-align: left; 
							padding: 30px 14px; 
							border: none;
							border-bottom: 1px solid $light-gray; 
							background-color: transparent;
							position: relative; 
 							line-height: 1.3; 
							color: color(layers_button_text_color);
							font-weight: normal;

 							&:hover, &:focus {
 								color: color(primary_hover);
							}

							span.text {
								display: block;
								font-weight: 500;
							}
							
							span.description {
								display: block;
								font-weight: 300;
								font-size: .9em;
								margin-top: .5em;
							}
							
							@media( max-width: $small_screen_width ) {
								padding: 1em;
								font-size: 1.2em;
							}
								 
						}

						span.out-of-stock {
							display: block;
							position: absolute;
							top: 10px;
							right: 10px;
							padding: 0.5em;
							background: rgba(0, 0, 0, 0.85);
							color: #fff;
							font-size: .8em;
							text-transform: uppercase;
							line-height: 1;
						}

						&.active {
							button {
								background: color(active_choice_button_bg_color);
							}
						}
						ul {
							list-style-type: none;
							display: block;
							margin: 0;
							padding: 0;
							position: relative; 
							&.active li {
								-webkit-animation: slide-in-left 1.0s ease-out;
								animation: slide-in-left 1.0s ease-out;
							}
							
							li.active {
								button {
									background: darken($active_bg, 5%); 
								}
							}
						}
					}
				}

				.layers {
					button {
						padding-left: 60px;
					}
					i {
						position: absolute;
						display: block;
						width: 40px;
						left: 10px;
						top: 50%;
						transform: translateY(-50%);
						opacity: 0.5;
						text-align: center;
						@media( max-width: $small_screen_width ) {
							width: 30px;
						}
						
						img {
							max-width: 100%;
						}
					}
					i.close {
						display: none;
					}
					button:hover {
						i {
							opacity: 1;
						}
					}

					li.active {
						// i.close {
						// 	display: block;
						// }
						// i.img {
						// 	display: none;
						// }
						button {
							background-color: color(active_layer_button_bg_color);
							color: color(active_layer_button_text_color);
							i {
								opacity: 1;
							}
						}
					}
				}
				.layer_choices {
					visibility: hidden;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 60px; 
					right: 0; 
					transition: all 0.3s cubic-bezier(0.02, 0.5, 0.14, 1.01);
					background: $choice_list_bg;
					transform: translateX(100%);
					// border-left: 1px solid $light-gray;
					@media( max-width: $medium_screen_width ) {
						left: 0;
					}
					li > button {
						padding-right: 85px;
						background: transparent;
						transition: 0.2s all;
						span.choice-price {
							display: inline-block;
							padding: 0 6px;
							//background: #fff;
							border-radius: 6px;
							color: #777;
							margin-left: 5px;
						}
						i.mkl-pc-thumbnail {
							height: 58px; 
							width: 58px;
							border: 3px solid transparent; 
							display: block; 
							position: absolute; 
							right: 15px; 
							top: 50%;
							transform: translateY(-50%); 
							border-radius: 50%; 
							background: transparent;
							box-shadow: none;
							transition: all 0.2s;
							@media( max-width: $small_screen_width ) {
								height: 30px; 
								width: 30px;
							}

							span {
								display: block; 
								overflow: hidden;
								position: absolute;
								top: 3px;
								left: 3px;
								right: 3px;
								bottom: 3px;
								border-radius: 50%;
								box-shadow: 0 0 8px rgba(0,0,0,0.2);
							}
							img {
								position: absolute;
								max-width: 100%;
								width: auto; 
								height: auto; 
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%); 
							}
						}

						span.description {
							display: none;
						}

						&:hover {
							i.mkl-pc-thumbnail {
								opacity: 1;
								height: 80px; 
								width: 80px;
								right: 5px;
								@media( max-width: $small_screen_width ) {
									right: 15px;
									height: 30px; 
									width: 30px;
								}
							}
						}
					}
					&.active {
						// background: red;
						transform: translateX(0);
						visibility: visible;
						box-shadow: -12px 0 40px -10px rgba(0, 0, 0, 0.15);
						li.active {
							button {
								background-color: color(active_choice_button_bg_color);
								color: color(active_choice_button_text_color);
							}
							i.mkl-pc-thumbnail {
								border-color: white;
								opacity: 1;
								height: 78px; 
								width: 78px;
								right: 5px;
								@media( max-width: $small_screen_width ) {
									height: 35px; 
									width: 35px;
									right: 12px;
								}
							}
						}
					}

					li.layer-choices-title {
						box-shadow: 0 0 5px rgba(6, 6, 6, 0.25);
						position: relative;
						z-index: 2;

						@media( max-width: $small_screen_width ) {
							background: #FFF;
						}

						> span { 
							font-weight: bold;
							display: block;
							padding: 10px 8px;
							padding-left: 14px;

							border-bottom: 1px solid $light-gray;
							position: relative;
							a.close {
								position: absolute;
								top: 50%;
								right:0;
								width: 30px;
								height: 30px;
								padding: 0;
								border-bottom: none;
								transform: translate(-15px, -50%);
								@media (max-width: $small_screen_width) {
									transform: translate(-10px, -50%);
								}
								span {
									border-bottom: none;
									box-shadow: none;
									display: none;
								}
								&:focus {
									outline: none;
								}
								&::before,
								&::after {
									content:' ';
									width:20px;
									height:2px;
									background: #000;
									position: absolute;
									top: 50%; 
									left: 0;
									transform-origin: 50%;
									transform: rotate(45deg);
									transition: all 0.2s;
									border-radius: 1px;
								}
								&::after {
									transform:rotate(-45deg);
								}
								&:focus::before,
								&:hover::before,
								&:focus::after,
								&:hover::after {
									background: #000;
									width: 15px;
									transform-origin: 100%;
								} 

								&:focus::before,
								&:hover::before{
									transform: translateX(8px) rotate(-35deg);
								} 

								&:focus::after,
								&:hover::after {
									transform: translateX(8px) rotate(35deg);
								} 
							}
						}


					}
				}
				@media( max-width: $small_screen_width ) {
					position: absolute;
					top: 40px;
					bottom: 0;
					left: 0;
					right: 0;
					height: calc(100% - 40px);
					box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
				}				
			}

			@media (max-width: $medium_screen_width) {
				width: $toolbar_width_medium;
				bottom: $footer_height_small_screen;
			}
			@media( max-width: $small_screen_width ) {
				width: 100%;
				top: 0;
				bottom: 50%;
			}

		}

		// FOOTER
		footer {

			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: $footer_height;
			z-index: 2; 
			padding: $inner_space; 
			
			background: $footer_bg_color;
			z-index: 2;

			display: flex;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;

			.single_add_to_cart_button {
				visibility: visible; 
			}
			.form,
			form,
			.quantity {
				display: inline-block;
				input.qty {
					background: #fff;
					@media (max-width: $small_screen_width) {
						border: 2px solid #36383a;
					}
				}
			}
			form.cart {
				margin: 0;
			}
			.extra-cost {
				visibility: hidden;
				position: fixed;
				margin-bottom: 0;
			}
			.extra-cost.show {
				visibility: visible;
				position: relative;
				padding-right: 10px;
				display: inline-block !important;
			}
			span.pc-total-price {
				font-weight: bold;
				display: inline-block; 
				margin-right: .5em;
			}

			.pc_configurator_form {
				display: inline-block;
			}

			h3.product-name {
				line-height: 1;
				margin: 0;
				@media (max-width: $small_screen_width) {
					display: none;
				}
			}
			button.configurator-add-to-cart {
				@media (max-width: $small_screen_width) {
					background: transparent !important;
				}

				svg {
					@media (min-width: $small_screen_width) {
						display: none;
					}
					@media (max-width: $small_screen_width) {
						path {
						   fill: #36383a;
						}
						max-width: 25px;
					}
				}
				span {
					@media (max-width: $small_screen_width) {
						display: none;
					}
				}
			}
			@media (max-width: $medium_screen_width) {
				text-align: center;
				height: $footer_height_small_screen;
			}
			@media (max-width: $small_screen_width) {
				box-shadow: 0 -10px 20px rgba(0,0,0,.2);
				padding: 0;
				.form {
					display: flex;
					align-items: center;
					span.extra-cost-label {
						font-size: 12px;
						text-transform: uppercase;
						line-height: 1;
						display: block;
						text-align: left;
					}
					span.pc-price {
						text-align: left;
						font-size: 1.2em;
					}
					.extra-cost.show {
						padding: 0;
						text-align: left;
						line-height: 1;
					}
				}
			}

		}
	}
	&.floating {
		.mkl_pc_toolbar {
			top: 30px;
			left: 30px;
			bottom: 30px;
			border-radius: 14px;
			box-shadow: 0 11px 20px rgba(0, 0, 0, 0.1);
		}
		.mkl_pc_viewer {
			left: 0;
			bottom: 0;
			.mkl_pc_layers {
				left: $toolbar_width;
				@media (max-width: $medium_screen_width) {
					left: $toolbar_width_medium;
				}

			}
		}

		footer {
			left: auto;
			right: 0;
			width: auto;
			bottom: 30px;
			transition: .2s all;
			border-radius: 14px 0 0 14px;
			box-shadow: 0 11px 20px rgba(0, 0, 0, 0.1);
		}

	}

	&.right {
		.mkl_pc_toolbar {
			left: auto;
			right: 0;
			> header > .cancel {
				left: 30px;
				right: auto;
			}
		}
		.mkl_pc_viewer,
		.mkl_pc_bg {
			left: 0;
			right: $toolbar_width;

			@media (max-width: $medium_screen_width) {
				right: $toolbar_width_medium;
			}
		}
	}	
	&.opened {
		visibility: visible;
		.overlay {
			visibility: visible;
			opacity: 1;
		}
		.mkl_pc_container {
			visibility: visible;
			opacity: 1;
			transform: none;
		}
	}

	body.admin-bar:not(.configurator_is_inline) & {
		@media (min-width: $small_screen_width) {
			top: 32px;
		}

		.mkl_pc_toolbar {
			> header {
				> .cancel {
					@media (min-width: $small_screen_width) {
						top: 62px;
					}
				}
			}
		}		
	}

}

body.configurator_is_inline .mkl_pc {
    position: relative;
	height: 100vh;
	z-index: 1;

	.overlay {
		display: none;
	}

	.mkl_pc_container {
		box-shadow: none;
		.cancel {
			display: none;
		}
	}	
}
