.variation-Configuration > div span.choice-thumb {
/*	position: relative;
	width: 20px;
	height: 40px;
	display: inline-block;
*/}
.choice-thumb img {
	max-width: 20px;
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

.woocommerce td.product-name dl.variation dt.variation-Configuration {
    display: block;
    float: none;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration {
    font-size: .8em;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration div {
    padding-bottom: .2em;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration div strong {
    display: inline-block;
    width: 80px;
    text-align: right;
}