.variation-Configuration > div span.choice-thumb {
/*	position: relative;
	width: 20px;
	height: 40px;
	display: inline-block;
*/}
.choice-thumb img {
	max-width: 20px;
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

td.product-name dl.variation dd div strong:empty + .semicol {
    display: none;
}

.woocommerce td.product-name dl.variation dt.variation-Configuration {
    display: block;
    float: none;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration {
    font-size: .8em;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration div {
    padding-bottom: .2em;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration div strong,
.wc-item-meta .order-configuration-details strong {
    display: inline-block;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration div strong:empty + span.semicol,
.wc-item-meta .order-configuration-details strong:empty + span.semicol {
    opacity: 0;
}

.woocommerce td.product-name dl.variation dd.variation-Configuration span.sku,
.order-configuration-details span.sku {
    font-size: .8em;
    text-transform: uppercase;
    display: inline-block;
    background: #00000014;
    margin-left: 5px;
    padding: 3px;
    line-height: 1;
}

.wc-item-meta .order-configuration-details div {
    font-size: .8em;
}

button.configure-product + .woocommerce-product-details__short-description {
    margin-top: 1.5em;
}

.shop_table tbody tr td.product-thumbnail a img.generating-image {
    background: url('../images/spinner.gif') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    min-width: 20px;    
}

table span.choice-thumb.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 3px;
}

/* Image in checkout */
.shop_table.woocommerce-checkout-review-order-table tbody tr td img.configuration-image {
    width: 100px;
    border-radius: 8px;
    vertical-align: middle;
    margin-right: 10px;
    max-width: 100%;
}

.configurator-error.error {
    padding: 10px;
    background: #fff7f8;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
}

.mkl_pc .mkl_pc_container .mkl_pc_toolbar section.choices .layer_choices li.choices-list li.out-of-stock--no-more-choice {
    width: 100%;
    text-align: center;
}

.is_configurable :not(.enable-add-to-cart):not(.configurator_is_inline) .summary .yith-ywraq-add-button.show {
    display: none !important;
}

/* Block cart, linked item - hidden */
tr.wc-block-cart-items__row.configurator-hidden,
.wc-block-components-order-summary-item.configurator-hidden {
    display: none !important;
}

/* Block cart, linked item - hide badges */
tr.wc-block-cart-items__row.configurator-linked-product .wc-block-components-product-badge.wc-block-components-sale-badge {
    display: none;
}