footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: $toolbar_width;
	right: var(--toolbar_width);
	height: var(--mkl_pc-footer-height);
	z-index: 2; 
	padding: $inner_space; 
	
	background: transparent;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	@media (min-width: $small_screen_width) {
		justify-content: left;
	}
	align-items: center;
	box-sizing: border-box;
	
	button.reset-configuration {
		margin: 0;
		padding: 0;
		background: transparent;
		color: inherit;
		appearance: none;
		box-shadow: none;
		border:  none;
		&:hover, &:focus {
			opacity: .6;
		}
		@media (max-width: $medium_screen_width) {
			font-size: 12px;
		}
		@media( max-height: 500px ) and (orientation: landscape) {
			font-size: 12px;
		}
	}

	h3.product-name {
		line-height: 1;
		margin: 0;
		@media (max-width: $medium_screen_width) {
			display: none;
		}
		@media (max-height: 500px) and (orientation: landscape) {
			display: none;
		}
	}

	.footer__section-left:empty {
		display: none;
	}

	.footer__section-center {
		flex: 1;
		display: flex;
		@media (max-width: $small_screen_width) {
			width: 100%;
			flex: auto;
		}
	}

	.mkl-pc-syd-modal {
		left: 0;
		&::after {
			left: 40px;
		}
	}

	@media (max-width: $medium_screen_width) {
		text-align: center;
	}
	@media (max-width: $small_screen_width) {
		border-top: 1px solid rgba(0,0,0,.2);
		padding: 0;
		right: 0;
		flex-wrap: wrap;
	}

	@media (min-width: $small_screen_width) {
		.form.form-cart {
			display: none;
		}
	}
}
