.mkl-pc-addons {
	display: flex;
	flex-wrap: wrap;
}
.mkl-pc-addon {
	flex: 1;
	padding: 1em;
	margin: 0 1em 1em 0;
	/* width: 30%; */
	position: relative; 
	border: 1px solid #ddd;
	/* flex-wrap: wrap; */
	background: #fff;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mkl-pc-addon:not(.installed) {
	background: #f5f5f5;
}