.mkl_pc_viewer {
	position: sticky;
	z-index: 1;
	width: 50%;
	top: 0;
	min-height: calc( 100vh - var(--mkl_pc_footer_height ) );
	
	@media( max-width: $medium_screen_width ) {
		right: $toolbar_width_medium;
	}
	@media( max-width: $small_screen_width ) {
		width: 100%;
		position: relative;
		right: auto;
		left: auto;
		bottom: auto;
		body:not(.configurator_is_inline) & {
			position: absolute;
			bottom: 50%;
			left: 0;
			right: 0;
			min-height: 0;
		}
	}

	.angles-select {
		position: absolute;
		left: 2em;
		top: 2em;
		z-index: 2;
		> a {
			display: none;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		li {
			display: inline-block;
			margin-right: 0.5em;
			a {
				display: block;
				padding: 0;
				padding-bottom: 6px;
				text-align: center;
				color: black;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 0.9em;

				span.angle-image {
					width: 25px;
					height: 25px;
					display: inline-block;
					vertical-align: middle;
					transform: translateY(-2px);
					img {
						width: auto;
						max-width: 100%;
						height: auto;
						display: block;
					}
				}
				

			}
			
			&.active a {
				border-bottom: 2px solid;
			}

		}
		@media (max-width: $small_screen_width) {
			left: 1.5em;
			top: 1.5em;

			> a span {
				display: none;
			}
			> a::before {
				margin-right: 0;
			}
			> a::before {
				margin-right: 0;
			}
			&:hover > a span,
			&:focus-within > a span,
			& > a:focus span {
				display: inline-block;
				margin-left: 1em;
			}
		}
	}

	.mkl_pc_layers {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		user-select: none;

		img {
			transition: .2s all;
			&:not(.active), &.loading {
				opacity: 0;
			}
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			max-height: 100%;
			-webkit-user-drag: none;
		}

		.custom-html {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			height: 100%;
			&:not(.active) {
				display: none;
			}
		}

		.images-loading {
			display: none;
			width: 30px;
			height: 30px;
			background: color(primary);
			position: absolute;
			left: 2em;
			bottom: 2em;
			opacity: 0;
			transition: all .2s;
			border-radius: 50%;
			-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
			animation: sk-scaleout 1.0s infinite ease-in-out;
		}

		img.loading ~ .images-loading {
			display: block;
			opacity: 1;
		}				
	}
} 